@charset "utf-8";

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        z-index: 0;
    }

    100% {
        z-index: 1;
        transform: scale(1.1, 1.1)
    }
}

@keyframes shrink {
    0% {
        z-index: 1;
        transform: scale(1.1, 1.1)
    }

    100% {
        z-index: 0;
    }
}



/* Misc. */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: rgba(220, 47, 47, 1);
}

html a {
    text-decoration: none;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        ".header .header"
        ".main-nav .main-nav"
        ".content .content"
        ".footer .footer";
}

header .top-banner,
.content,
.footer {
    padding: 20px;
    text-align: center;
}

.rmc-logo {
    width: 100px;
}

/* .redirect-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
} */
/* I cannot, for the life of me, remember what this is for */



/* Header */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.top-banner a {
    color: rgba(19, 51, 77);
}

.rmc-logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-redirects a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgba(19, 51, 77);
    border-radius: 10px;
    padding: 10px;
}

.account-redirects .sign-up-button {
    color: white;
    background-color: rgba(19, 51, 77);
    padding: 10px 20px;
}

.main-nav {
    background-color: rgba(220, 47, 47, 1);
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
}

.main-nav a div {
    padding: 15px;
    text-align: center;
}

.main-nav a div:hover,
.class-current,
.locations-current,
.about-current,
.contact-current {
    transition: background-color 0.25s;
    background-color: rgba(19, 51, 77);
}

/* Global Elements */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: white;
}

.content * {
    color: black;
    text-decoration: none;
}

.content-sub {
    padding: 20px;
    max-width: 1200px;
}

.content-sub aside>*,
.content-sub section>* {
    padding: 5px;
    margin: 10px 0;
}

.content-sub aside p {
    font-size: 1.5em;
}

.content-sub section h2 {
    font-size: 2.25em;
}

.content-sub section p {
    font-size: 1.25em;
}

.content-sub-left {
    width: 47.5%;
    padding: 20px;
}

.content-sub-right {
    width: 47.5%;
    padding: 20px;
}

.portrait-only-image {
    display: none;
}

.home-content2 img,
.about-content1 img {
    border: 1px solid gray;
    border-radius: 5px
}

/* Home Page */
.welcome-text {
    opacity: 0;
    font-size: 5em;
    color: white;
    text-shadow: 0 0 15px black;
    padding: 0 20px;
    animation-name: fadeDown;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.home-content2 h2,
.home-content3 h2 {
    font-size: 3em;
}

.home-content1,
.home-content2,
.home-content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;
}

.landing {
    background-image: url('/images/nmc-proa-union_scaled.jpg');
    background-size: cover;
    background-position: top center;
}

.home-content1 {
    min-height: 80vh;
}

.home-content2 aside, 
.home-content3 aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-content2 img {
    width: 100%;
}

.nmc-video-side h2 {
    margin: 5px;
}

.nmc-video-container {
    display: flex;
    justify-content: center;
}

.nmc-video {
    width: 100%;
    aspect-ratio: 16/9;
}

/* Locations Page */
.location-tab h4 {
    font-size: 1.5em;
    margin: 20px 0 0;
}

.location-tab p {
    font-size: 1.125em;
    padding: 10px 15px;
    margin: 0 0 20px;
}

.location-tab-container {
    padding: 50px 30px;
}

.location-grid-container {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.location-tab {
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    padding: 0;
    margin: 0;
    clip-path: border-box;
    animation-name: shrink;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.location-tab img {
    padding: 0;
    margin: 0;
    width: 300px;
    border-radius: 9px 9px 0 0;
}

.location-tab:hover {
    animation-name: grow;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

/* Location Posts */
.location-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.location-img-container,
.location-table-container {
    width: 45%;
}

.location-img,
.location-table {
    width: 100%;
}

.location-img { 
    border: 1px solid gray;
    border-radius: 5px
}

.location-table,
.location-table th,
.location-table td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

.location-table tr:nth-child(even) {
    background-color: gainsboro;
}

.comment-section {
    padding: 20px;
}

.comment-rating {
    display: flex;
    justify-content: space-around;
}

.star-radio {
    width: 20%;
}

.star-icon {
    width: 11px;
}

.comment-form textarea,
.comment-form input[type="submit"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

.comment-form input[type="radio"], 
.comment-form input[type="submit"] {
    cursor: pointer;
}

.comment-iframe {
    width: 95%;
    margin: 20px 0 0;
}

/* About Page */
.about-content1 section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-content1 img {
    width: 100%;
}

.about-content2 ul {
    list-style: none;
    margin: 5px;
}

.about-content2 ul li {
    font-size: 1.2em;
    margin: 3px;
}

.about-content2 h3 {
    margin: 5px 0
}

/* Contact, Log In, and Sign Up Page */
.contact-content,
.log-in-content,
.sign-up-content {
    background-color: white;
    padding: 30px 30px 75px;
}

.contact-content h1,
.log-in-content h1,
.sign-up-content h1 {
    text-align: center;
    font-size: 40px;
}

.contact-form-container,
.log-in-form-container,
.sign-up-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form,
.log-in-form,
.sign-up-form {
    padding: 20px;
    border: 2px solid black;
    min-width: 225px;
    max-width: 500px;
    width: 100%
}

.contact-form label,
.log-in-form label,
.sign-up-form label {
    font-size: 20px;
}

.contact-form input,
.contact-form textarea,
.log-in-form input,
.sign-up-form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    cursor: text;
    resize: none;
}

.contact-form input[type="submit"],
.log-in-form input[type="submit"],
.sign-up-form input[type="submit"] {
    margin: 0;
    cursor: pointer;
}

.contact-form input[placeholder],
.contact-form textarea[placeholder],
.contact-form input[type="submit"],
.log-in-form input[placeholder],
.log-in-form input[type="submit"],
.sign-up-form input[placeholder],
.sign-up-form input[type="submit"] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.contact-form,
.contact-form input,
.contact-form textarea,
.log-in-form,
.log-in-form input,
.sign-up-form,
.sign-up-form input {
    border-radius: 10px;
}

.contact-form input,
.contact-form textarea,
.log-in-form input,
.sign-up-form input {
    border: 1px solid black;
}

/* Footer */
.footer {
    background-color: rgb(220, 47, 47);
    padding: 30px;
}

.footer-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-nav ul {
    list-style: none;
    text-align: left;
    line-height: 25px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footer-rmc h3,
.footer ul li a,
.footer p {
    color: white;
}

.footer-rmc h3 {
    margin: 5px 0 0;
}

.footer hr {
    margin: 20px 0;
}



/* Media Queries */
@media (max-width: 1080px) {

    /* Global Elements */
    .content-sub aside p {
        font-size: 1.25em;
    }

    .content-sub-left {
        width: 100%;
    }

    .content-sub-right {
        width: 100%;
    }

    .portrait-only-image {
        display: inline;
        width: 100%;
    }

    /* Home Page */
    .welcome-text {
        font-size: 3.25em;
    }

    .home-content2 h2,
    .home-content3 h2 {
        font-size: 2.5em;
    }

    .home-content2 aside,
    .home-content3 aside {
        display: inline;
    }

    .home-content2 .content-sub-left img {
        display: none;
    }

    .nmc-video-side {
        width: 100%;
    }

    .nmc-video-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    /* Locations Page */
    .location-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Location Posts */
    .location-container {
        display: inline;
    }

    .location-img-container,
    .location-table-container {
        width: 100%;
    }

    .location-img {
        width: 85%;
        margin-bottom: 20px;
    }

    .location-table {
        font-size: 0.9em;
        width: 95%;
    }

    .location-table-container {
        display: flex;
        justify-content: center;
    }

    /* About Page */
    .about-content1 section {
        display: inline;
    }

    .about-content1 .content-sub-right img {
        display: none;
    }
}

@media (max-width: 720px) {

    /* Header */
    .top-banner a img {
        width: 75px;
    }

    .top-banner h1 {
        font-size: 26px;
    }

    .account-redirects a,
    .account-redirects .sign-up-button {
        font-size: 15px;
        padding: 8px;
    }

    /* Locations Page */
    .location-grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {

    /* Header */
    .top-banner a img {
        width: 50px;
    }

    .top-banner a h1 {
        display: none;
    }

    .main-nav a div {
        padding: 10px;
    }

    /* Global Elements */
    .content-sub aside p {
        font-size: 1.125em;
    }

    .content p {
        font-size: 1.125em;
    }

    /* Home Page */
    .welcome-text {
        font-size: 2.25em;
    }

    .home-content2 h2,
    .home-content3 h2 {
        font-size: 1.75em;
    }

    /* Location Posts */
    .location-table {
        font-size: 0.8em;
    }

    .star-icon {
        width: 8px;
    }
}

@media (max-width: 360px) {
    html {
        zoom: 0.8;
    }
}

@media (max-width: 300px) {
    html {
        zoom: 0.6;
    }
}