@charset "utf-8";

body {
    margin: 0;
}

/* Main */
.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        ".main-nav .main-nav"
        ".content .content"
        ".footer .footer";
    outline: 1px solid #000000;
}

header .top-banner, .content, .footer {
    padding: 20px;
    text-align: center;
    border: 1px solid #000000;
}

.main-nav {
    padding: 10px;
    border: 1px solid #000000;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.footer-sub {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-nav ul {
    list-style: none;
    text-align: left;
    line-height: 25px;
}