@charset "utf-8";

/* Misc. */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: rgba(220, 47, 47, 1);
}

html a {
    text-decoration: none;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
        ".header .header"
        ".main-nav .main-nav"
        ".content .content"
        ".footer .footer";
}

header .top-banner,
.content,
.footer {
    padding: 20px;
    text-align: center;
}

.rmc-logo {
    width: 100px;
}

/* .redirect-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
} */
/* I cannot, for the life of me, remember what this is for */



/* Header */
.top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.top-banner a {
    color: rgba(19, 51, 77);
}

.rmc-logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-redirects a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgba(19, 51, 77);
    border-radius: 10px;
    padding: 10px;
}

.account-redirects .sign-up-button {
    color: white;
    background-color: rgba(19, 51, 77);
    padding: 10px 20px;
}

.main-nav {
    background-color: rgba(220, 47, 47, 1);
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
}

.main-nav a div {
    padding: 15px;
    text-align: center;
}

.main-nav a div:hover,
.class-current,
.locations-current,
.about-current,
.contact-current {
    transition: background-color 0.25s;
    background-color: rgba(19, 51, 77);
}

/* Global Elements */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: white;
}

.content * {
    color: black;
    text-decoration: none;
}

.content-sub {
    padding: 20px;
    max-width: 1200px;
}

.content-sub aside>*,
.content-sub section>* {
    padding: 5px;
    margin: 10px 0;
}

.content-sub aside p {
    font-size: 1.5em;
}

.content-sub section h2 {
    font-size: 2.25em;
}

.content-sub section p {
    font-size: 1.25em;
}

/* Home Page */

.home-content1 h2 {
    font-size: 5em;
    color: white;
    text-shadow: 0 0 15px black;
    padding: 0 20px;
}

.home-content2 h2,
.home-content3 h2 {
    font-size: 3em;
}

.home-content1,
.home-content2,
.home-content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 250px;
}

.landing {
    background-image: url('/images/nmc-proa-union-scaled.jpg');
    background-size: cover;
    background-position: top center;
}

.home-content1 {
    min-height: 80vh;
}


.content-sub h2 a:hover {
    text-decoration: underline;
}

.nmc-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nmc-video-side {
    padding: 20px;
    max-width: 50%;
}

.nmc-video-side h2 {
    margin: 5px;
}

.nmc-video {
    width: 50%;
    aspect-ratio: 16/9;
    padding-left: 20px;
}

/* Locations Page */
.location-tab h4 {
    font-size: 1.5em;
    margin: 20px 0 0;
}

.location-tab p {
    font-size: 1.125em;
    padding: 10px 15px;
    margin: 0 0 20px;
}

.location-tab-container {
    padding: 50px 30px;
}

.location-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.location-tab {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 300px;
    min-height: 500px;
    padding: 0;
    margin: 0;
    clip-path: border-box;
}

.location-tab img {
    padding: 0;
    margin: 0;
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
}

/* About Page */


/* Contact, Log In, and Sign Up Page */
.contact-content,
.log-in-content,
.sign-up-content {
    background-color: white;
    padding: 30px 30px 75px;
}

.contact-content h1,
.log-in-content h1,
.sign-up-content h1 {
    text-align: center;
    font-size: 40px;
}

.contact-form-container,
.log-in-form-container,
.sign-up-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form,
.log-in-form,
.sign-up-form {
    padding: 20px;
    border: 2px solid black;
    min-width: 225px;
    max-width: 500px;
    width: 100%
}

.contact-form label,
.log-in-form label,
.sign-up-form label {
    font-size: 20px;
}

.contact-form input,
.contact-form textarea,
.log-in-form input,
.sign-up-form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    cursor: text;
    resize: none;
}

.contact-form input[type="submit"],
.log-in-form input[type="submit"],
.sign-up-form input[type="submit"] {
    margin: 0;
    cursor: pointer;
}

.contact-form input[placeholder],
.contact-form textarea[placeholder],
.contact-form input[type="submit"],
.log-in-form input[placeholder],
.log-in-form input[type="submit"],
.sign-up-form input[placeholder],
.sign-up-form input[type="submit"] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.contact-form,
input,
textarea,
.log-in-form,
.sign-up-form {
    border-radius: 10px;
}

.contact-form input,
.contact-form textarea,
.log-in-form input,
.sign-up-form input {
    border: 1px solid black;
}

/* Footer */
.footer {
    background-color: rgb(220, 47, 47);
    padding: 30px;
}

.footer-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-nav ul {
    list-style: none;
    text-align: left;
    line-height: 25px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footer-rmc h3,
.footer ul li a,
.footer p {
    color: white;
}

.footer-rmc h3 {
    margin: 5px 0 0;
}

.footer hr {
    margin: 20px 0;
}



/* Media Queries */
@media (max-width: 1080px) {

    /* Global Elements */
    .content-sub aside p {
        font-size: 1.25em;
    }

    /* Home Page */
    .home-content1 h2 {
        font-size: 3.25em;
    }

    .home-content2 h2,
    .home-content3 h2 {
        font-size: 2.5em;
    }

    .nmc-video-container {
        display: inline;
    }

    .nmc-video-side {
        max-width: 100%;
    }

    .nmc-video {
        width: 640px;
        height: auto;
    }

    /* Locations Page */
    .location-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 720px) {

    /* Header */
    .top-banner a img {
        width: 75px;
    }

    .top-banner h1 {
        font-size: 26px;
    }

    .account-redirects a,
    .account-redirects .sign-up-button {
        font-size: 15px;
        padding: 8px;
    }

    /* Home Page */
    .nmc-video {
        width: 90%;
    }

    /* Locations Page */
    .location-grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {

    /* Header */
    .top-banner a img {
        width: 50px;
    }

    .top-banner a h1 {
        display: none;
    }

    .main-nav a div {
        padding: 10px;
    }

    /* Global Elements */
    .content-sub aside p {
        font-size: 1.125em;
    }

    .content p {
        font-size: 1.125em;
    }

    /* Home Page */
    .home-content1 h2 {
        font-size: 2.25em;
    }

    .home-content2 h2,
    .home-content3 h2 {
        font-size: 1.75em;
    }
}